/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
